$main_color: #fccc1e;
$sub_color: #bdbdbd;
$line_color: #efefef;
$base_color: rgb(235, 230, 230);
$point_color: #546e7a;


.default {
    margin: 5px 20% 0;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    scroll-behavior: smooth;
    overflow: hidden;
}

.Detail {
    @extend .default;
    .header {
        margin: 10px 0 30px;
        padding: 15px;
        border-radius: 5px;
        font-size: 30px;
        font-weight: 700;
    }
    .main_info {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        border: 1px solid $line_color;
        border-radius: 5px;
        img {
            margin-right: 10px;
            width: 450px;
            cursor: pointer;
        }
        .sub_info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 50px;
            text-align: left;     
            p {
                margin: 0;
            }
            .sub_info_top {
                margin-bottom: 30px;
                .price {
                    font-size: 40px;
                    font-weight: 700;
                }
            }
            .sub_info_main {
                margin-bottom: 30px;
            }
        }
    }
    button {
        margin: 50px 10px 0;
        padding: 15px;
        background-color: $main_color;
        border: none;
        border-radius: 10px;
        font-size: 25px;
        font-weight: 700;
        cursor: pointer;
        transition: transform 300ms ease;
    }
    button:hover {
        transform: scale(0.96);
        cursor: pointer;
    }   
}

@media only screen and (max-width: 480px) {
    .Detail {
        margin: 0 1%;
        .header {
            margin: 20px 0;
        }
        .main_info {
            display: flex;
            flex-direction: column;
            img {
                margin: 0 auto;
                width: 350px;
                cursor: pointer;
            }
            .sub_info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: 0;
                text-align: center;     
                .sub_info_main {
                    margin-bottom: 20px;
                }
            }
        }
        button {
            margin: 50px 10px 50px;
        }
    }
}
