$main_color: #fccc1e;
$sub_color: rgb(170, 169, 169);

.modal {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    overflow-y: hidden;
    
    .bg {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        z-index: 998;
    
        .content {
            position: fixed;
            left: 50%;
            top: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 30%;
            height: 30%;
            padding: 2% 3%;
            transform: translate(-50%, -50%);
            background-color: $main_color;
            border-radius: 10px;
            text-align: center;
            box-sizing: border-box;
            z-index: 999;
    
            button {
                position: absolute;
                top: 3%;
                right: 3%;
                background-color: transparent;
                font-size: 50px;
                border: 0;
                cursor: pointer;
            }
    
            p {
                font-size: 30px;
                font-weight: 700;
            }
        }
    }
}



